{{!-- Template generates an HTML table structure for displaying fuel prices, including the station name, address,
fuel type, and price per liter/gallon. The values are injected into the template using Handlebars expressions. --}}
<section>
  <h1>Fuel Prices Near You</h1>
  <table>
    <thead>
      <tr>
        <th>Fuel Station Name</th>
        <th>Address</th>
        <th>Fuel Type</th>
        <th>Price (cents per liter)</th>
      </tr>
    </thead>
    <tbody>
      {{#each fuelPrices}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.address}}</td>
        <td>{{this.fuelType}}</td>
        <td>${{this.price}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>