<!DOCTYPE html>
<html>
<head>
  <title>Fuel Wise App</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <header>

  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
  </footer>

  <script src="/scripts/main.js"></script>
</body>
</html>
