<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fuel Wise App</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <div class="header">
    <text class="logo">FuelWise</text>
    <div class="header-right">
      <a href="/">Home</a>
      {{#if loggedIn}}
      <a href="/">Logout</a>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </div>
  </div>
  </nav>

  <main>
    {{{body}}}
  </main>

  <footer>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/scripts/main.js"></script>
</body>

</html>