* {
    box-sizing: border-box;
  }
  
  html,body,main {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    overflow: hidden;
    background-color: rgb(60, 132, 210);
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 5px 25px;
    text-decoration: none;
    font-size: 15px; 
    line-height: 25px;
    border-radius: 30px;
    margin: 5px;
  }
  
  .header text.logo {
    font-size: 50px;
    font-weight: 400;
    padding-left: 16px;
  }
  
  .header a:hover {
    background-color: rgb(59, 165, 251);
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }


/*
Google maps related CSS
*/
#map {
  height: 80%;
  width: 100%;
}

/*
 * Station styles in unhighlighted state.
 */
 .station {
  align-items: center;
  background-color: #333;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 12px;
  gap: 15px;
  height: 30px;
  justify-content: center;
  padding: 4px;
  position: relative;
  position: relative;
  transition: all 0.3s ease-out;
  width: 60px;
}

.station::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #FFFFFF;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 95%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-out;
  width: 0;
  z-index: 1;
}

.station .icon {
  align-items: center;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}

.station .icon svg {
  height: 20px;
  width: auto;
}

.station .details {
  display: none;
  flex-direction: column;
  flex: 1;
}

.station .address {
  color: #9E9E9E;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.station .features {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.station .features > div {
  align-items: center;
  background: #F5F5F5;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  font-size: 10px;
  gap: 5px;
  padding: 5px;
}

/*
 * Property styles in highlighted state.
 */
.station.highlight {
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  height: 80px;
  padding: 8px 15px;
  width: auto;
}

.station.highlight::after {
  border-top: 9px solid #FFFFFF;
}

.station.highlight .details {
  display: flex;
}

.station.highlight .icon svg {
  width: 50px;
  height: 50px;
}


/*
 * House icon colors.
 */
.station.highlight:has(.fa-house) .icon {
  color: var(--house-color);
}

.station:not(.highlight):has(.fa-house) {
  background-color: var(--house-color);
}

.station:not(.highlight):has(.fa-house)::after {
  border-top: 9px solid var(--house-color);
}

/*
 * Building icon colors.
 */
.station.highlight:has(.fa-building) .icon {
  color: var(--building-color);
}

.station:not(.highlight):has(.fa-building) {
  background-color: var(--building-color);
}

.station:not(.highlight):has(.fa-building)::after {
  border-top: 9px solid var(--building-color);
}

/*
 * Warehouse icon colors.
 */
.station.highlight:has(.fa-warehouse) .icon {
  color: var(--warehouse-color);
}

.station:not(.highlight):has(.fa-warehouse) {
  background-color: var(--warehouse-color);
}

.station:not(.highlight):has(.fa-warehouse)::after {
  border-top: 9px solid var(--warehouse-color);
}

/*
 * Shop icon colors.
 */
.station.highlight:has(.fa-shop) .icon {
  color: var(--shop-color);
}

.station:not(.highlight):has(.fa-shop) {
  background-color: var(--shop-color);
}

.station:not(.highlight):has(.fa-shop)::after {
  border-top: 9px solid var(--shop-color);
}

/* [END maps_advanced_markers_html] */